/* CSS Variables for color scheme */
:root {
    --footer-background: #238d4f; /* Dark green background */
    --footer-hover-background: #1c7430; /* Darker green for hover */
    --text-color: #ffffff; /* White text color */
    --hover-text-color: #adebad; /* Light green for hover and focus states */
}

/* Base styling for footer */
footer {
    background-color: var(--footer-background);
    color: var(--text-color);
    padding: 15px; /* Increased padding for better spacing */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 100%; /* Maximum width for large screens */
    margin: auto; /* Center footer if it's less than the maximum width */
    max-height: 20rem;
}

/* Each section styling */
footer section {
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

/* Styling for paragraphs and address in footer */
footer p, footer address {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color); /* Unified text color */
}

/* Link styling within the footer */
footer a {
    color: inherit; /* Inherits color from parent */
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: var(--hover-text-color);
    text-decoration: underline;
}

/* Styling for social media links and images */
footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer nav a {
    margin: 0 5px;
}

footer nav img {
    width: 24px;
    height: auto;
}

/* Styling for copyright section */
div.copyright {
    text-align: center;
    background-color: var(--footer-hover-background);
    color: var(--text-color);
    padding: 10px 0;
    font-size: 12px;
    width: 100%;
}

div.copyright a{

}

/* Responsive design adjustments */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    footer section {
        width: 100%;
    }

    footer nav {
        margin-top: 10px;
    }
}

/* Styling for scroll to top link */
a.scrollToTop {
    text-align: center;
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--footer-background);
    color: var(--text-color);
    padding: 10px;
    width: 25px;
    border-radius: 50%;
    text-decoration: none;
}

a.scrollToTop:hover {
    background-color: var(--footer-hover-background);
}

/* Ensures visibility of font awesome icon */
.fa-chevron-up {
    color: var(--text-color);
}
